# .gitignore

vendor/
.env
*.log
.idea/
.vscode/
composer.lock
composer.phar
.env
/env
env/
.env
.env.local
.env.development.local
.env.test.local

#tcpdf folder
tcpdf
/node_modules
/tcpdf

# phpstorm project files
.idea

# netbeans project files
nbproject
