<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
</head>
<body>
<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3
         h-fit rounded relative" role="alert">
    <strong class="font-bold">Success!</strong>

    <span class="block sm:inline">Your database is connected successfully</span>

    <span class="p-1 ">

                <span class="absolute top-0 bottom-0 right-0 p-1 bg-red-50 w-fit h-fit">

                    <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <title>Close</title>
                      <path d="M6.293 6.293a1 1 0 011.414 0L10 8.586l2.293-2.293a1 1 0 111.414 1.414L11.414 10l2.293 2.293a1 1 0 11-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 01-1.414-1.414L8.586 10 6.293 7.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                </span>
            </span>
</div>
</body>
</html>